* {
	box-sizing: border-box;
}


a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

header {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: whitesmoke;
	width: 100%;
}

.logo {
	padding-left: 15px;
	font-weight: normal;
	font-size: 16px;
}

.container {
	top: 15px;
	position: absolute;
	right: 15px;
}

.link {
	font-size: 16px;
}

body {
	margin: 0;
}

.search {
	margin-bottom: 60px;
}

.search input {
	height: 30px;
	width: 400px;
	position: absolute;
	left: 50%;
	margin-left: -200px;
	font-size: 14px;
}

.search button {
	margin-left: 10px;
	height: 25px;
	border: 1px solid whitesmoke;
	background-color: white;
	position: relative;
}

label {
	margin-top: 15px;
	display: block;
	margin-bottom: 8px;
	text-align: center;
}

.page {
	display: inline-block;
	border: 1px solid whitesmoke;
	width: 270px;
	position: absolute;
	left: 50%;
	margin-left: -135px;
}

.page-button {
	display: inline-block;
	font-size: 16px;
}

.page-display {
	padding: 14px;
	border-left: 1px solid whitesmoke;
	border-right: 1px solid whitesmoke;
}

.listings {
	padding-top: 60px;
}

.listing {
	list-style: none;
	color: grey;
	margin-bottom: 15px;
}

.listing-title {
	font-weight: bold;
	margin-left: 10px;
	margin-right: 10px;
}

.fa-star {
	color: grey;
	margin-right: 5px;
}